* {
	font-size: 13px;
	font-family: "MesloLg Nerd Font";
}

window#waybar {
	all: unset;
	background: rgba(0, 0, 0, 1);
}

.modules-left {
	margin: 20px 8px;
}

#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover {
	color: rgb(90, 130, 230);
	transition: all .3s ease;
}

#clock {
	font-size: 15px;
	margin: 5px 0px;
}

#clock.time {
	color: rgb(90, 130, 230);
}

#clock.date {
	color: rgb(130, 230, 130);
}

#tags button {
	all: unset;
	color: rgb(100, 100, 100);
	border-radius: 5px;
	/* margin: 1px 1px; */
	min-width: 22px;
}

#tags button.occupied {
	color: #ffffff;
	border: none;
}

#tags button.focused {
	color: rgb(90, 130, 230);
}

#tags button.urgent {
	background-color: rgb(90, 130, 230);
	color: #1e1e2e;
}

#battery {
	transition: all .3s ease;
	color: #ffffff;
}

#battery.charging {
	color: #26A65B;
}

#battery.warning:not(.charging) {
	color: #ffbe61;
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#tray {
	transition: all .3s ease;

}

#tray menu * {
	transition: all .3s ease;
}

#tray menu separator {
	transition: all .3s ease;
}

tooltip {
	background: #000000;
	color: #ffffff;
}

